.ex__container {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: center;
}


#player {
   border-radius: 5px;
   border: 5px solid #111;
}

#media {
  background-color: #111;
  display: flex;
  align-items: center;
}

#media_nav {
  width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#buttons{
  width: 150px;
  display: flex;


}

#play, #mute {
  width: 75px;
  display: flex;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-weight: bold;
  justify-content: center;

}

#bar {
  display: flex;
  width:400px;
  height: 29px;
  background-color: #2aaa9a;
}

#control{
  width: 170px;
  display: flex;
  justify-content: center;
}

#volume{
   width: 150px;
   margin: 0;
   height: 26px;
   padding: 0;
}

#progress {
  background-color: #333;
}

.clear{
  clear: both;
}
