.burger {
  width: 40px;
  margin: 5px;
  padding: 5px;
  position: relative;
}
.burger > .tuggl:nth-child(1) {
  top: 40%;
}
.burger > .tuggl:nth-child(2) {
  top: 50%;
}
.burger > .tuggl:nth-child(3) {
  top: 60%;
}
.burger > .tuggl {
  position: absolute;
  width: 40px;
  display: block;
  border-top: 5px solid black;
  padding-top: 5px;
  border-radius: 2px;
}
